{% extends 'userapp/base.html' %}
 {% block body_block %}
    <div class="jumbotron" style="margin-top: 50px">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" value="" placeholder="Enter your username..." id="username">
        <br><br>
        <label for="password">Password: </label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" name="" value="Login">
      </form>
    </div>

  {% endblock %}
